body{
    background-image: url(Downloads\job-search-magnifying-glass-white-background-job-search-magnifying-glass-213027987.jpg);
    font-family: sans-serif;
}
h2{
    color: blue;
    font-size: 50px;
}
p{
    text-align: left;
    font-size: 20px;
}
